body {
	margin: 0;
	font-family: Noto Sans;
}

a {
	color: inherit;
	background: #5555;
	text-decoration: none;

	&:not(.copy):hover {
		background: dodgerblue;
	}
}

header {
	background: #ffbdc5;
	padding: 2ex max(2ex, calc(50% - 50ex));

	.title {
		font-size: 200%
	}

	&.c {
		padding: 2ex;
	}
}

main {
	max-width: 100ex;
	margin: auto;
	padding: 2ex;
}

main.and2toc {
	max-width: 100%;
	display: grid;
	grid-template-columns: 30ex minmax(0, 100ex);
	grid-template-columns: 30ex 1fr;
}

ul.toc {
	padding: 0;
	list-style: none;

	li {
		margin-bottom: .5ex;
	}
}

.copy {
	padding: 0 .5ex;
	font-weight: bold;
	color: white;
	background: #c50042;
	text-decoration: none;

	&:hover {
		box-shadow: 0 0 .2ex .4ex grey;
	}
}

h1>a.copy {
	vertical-align: middle;
	font-size: 60%;
}

div.imgs {
	display: flex;
	flex-wrap: wrap;
	gap: 1ex;

	img {
		width: 18.8ex;
		padding: 0;
	}
}

ul.items {
	padding: 0;

	.item {
		list-style: none;
		margin-bottom: 1ex;
		border: solid .4ex;
		padding: .5ex;

		&::after {
			content: "";
			display: block;
			clear: both;
		}

		img {
			width: 15ex;
			float: left;
			margin-right: .5ex;
		}

		.title {
			font-weight: bold;
		}

		div.emptyline {
			height: 2ex;
		}

		p {
			margin: 0;
		}
	}
}